<section class="panel animated fadeInDown">

    <header id="page-header">
        <div class="panel-heading">
            <h2>{{item.id ? 'Редактирование новости' : 'Добавление новости'}}</h2>
            <!--<label class="color">{{{this.subtitle}}}</label>-->
        </div>
    </header>

    <div id="page-tools"></div>

    <div id="page-content" class="panel-body">

        <form class="form-horizontal" crud-edit="item" name="form" enctype="multipart/form-data">

            <tabset>

                <tab heading="Основные">

                    <div class="padding--vertical">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Заголовок</label>
                            <div class="col-md-10 col-lg-11">
                                <textarea class="form-control" name="title" ng-model="item.title" required></textarea>
                                <div ng-messages="form.title.$error">
                                    <div ng-message="required" class="help-block text-danger">{{messages.validation.required}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Активность</label>
                            <div class="col-md-4 col-lg-5">
                                <switch name="active" ng-model="item.active" class="green"></switch>
                            </div>
                            <label class="control-label col-md-2 col-lg-1">Начало публикации</label>
                            <div class="col-md-4 col-lg-5">
                                <input class="form-control" type="text" name="date_start" datepicker-popup="dd.MM.yyyy" ng-model="item.date_start" is-open="datepickers.date_start_opened" date-disabled="disabled(date, mode)" ng-click="openDatepicker($event, 'date_start_opened')" show-button-bar="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Статус</label>
                            <div class="col-md-4 col-lg-5">
                                <select class="form-control" name="status"  ng-model="item.status">
                                    <option value="1">[1] Опубликован</option>
                                    <option value="3">[3] Готов к публикации</option>
                                    <option value="2">[2] Черновик</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2 col-lg-1">Окончание публикации</label>
                            <div class="col-md-4 col-lg-5">
                                <input class="form-control" type="text" name="date_finish" datepicker-popup="dd.MM.yyyy" ng-model="item.date_finish" is-open="datepickers.date_finish_opened" date-disabled="disabled(date, mode)" ng-click="openDatepicker($event, 'date_finish_opened')" show-button-bar="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Корректура</label>
                            <div class="col-md-5 col-lg-5">
                                <switch name="correction" ng-model="item.correction" class="green"></switch>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Имя</label>
                            <div class="col-md-5 col-lg-5">
                                <input class="form-control" type="text" name="name" ng-model="item.name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Фамилия</label>
                            <div class="col-md-5 col-lg-5">
                                <input class="form-control" type="url" name="surname" ng-model="item.surname"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Профессия или статус</label>
                            <div class="col-md-5 col-lg-5">
                                <input class="form-control" type="url" name="columnist_status" ng-model="item.columnist_status"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Фото</label>
                            <div class="col-md-5 col-lg-3">
                                <fieldset>
                                    <div class="form-group" ng-show="item.image.src">
                                        <div class="col-md-12 col-lg-12">
                                            <img class="img-thumbnail img-responsive" ng-attr-src="{{item.image.src}}" />
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 0;">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="file-input-wrapper">
                                                <upload-button
                                                        class="btn btn-primary btn-upload"
                                                        url="/file/upload"
                                                        param="file"
                                                        accept="acceptImageTypes"
                                                        force-iframe-upload="forceIframeUpload"
                                                        data="uploadData"
                                                        on-upload="onUpload(files)"
                                                        on-success="onSuccess(response)"
                                                        on-error="onImageError(response)"
                                                        on-complete="onImageComplete(response)">
                                                    {{ item.image.src ? 'Заменить' : 'Выбрать' }}
                                                </upload-button>
                                            </div>
                                            <button type="button" class="btn btn-danger" ng-show="item.image.src" ng-click="removeImage()">Удалить</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-lg-1">Информация об авторе</label>
                            <div class="col-md-10 col-lg-11">
                                <textarea class="form-control" name="info" ng-model="item.info" redactor="{'buttons': ['html','|','formatting','|','bold','italic','deleted','|','unorderedlist','orderedlist','outdent','indent','|','alignment']}" required></textarea>
                                <div ng-messages="form.preview_text.$error">
                                    <div ng-message="required" class="help-block text-danger">{{messages.validation.required}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab heading="Иллюстрации">

                    <div ng-include="'views/partials/news/illustrations.tpl.html'"></div>

                </tab>

            </tabset>

            <footer class="panel-footer">

                <crud-buttons></crud-buttons>

            </footer>

        </form>

    </div>

    <div id="page-footer"></div>

    <div class="page__flip"></div>

</section>