<section class="panel animated fadeInDown">

    <header id="page-header">
        <div class="panel-heading">
            <h2>Новости</h2>
            <!--<label class="color">{{{this.subtitle}}}</label>-->
        </div>
    </header>

    <div id="page-tools"></div>

    <div id="page-content" class="panel-body">

        <form role="form">
            <div class="row form-group">

                <div class="col-lg-6">
                    <div class="input-icon input-icon--inline">
                        <i class="ico fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Поиск..." ng-model="search">
                    </div>
                    <a class="btn btn-primary" ng-click="searchByFilter()">Искать</a>
                    <a class="btn btn-default" ng-click="toggleFilter()">Фильтр</a>
                </div>

                <div class="col-lg-6 text-right">
                    <div class="row text-right">
                        <div class="col-md-2 pull-right">
                            <select name="limit" class="form-control" ng-model="limit" ng-options="name as value for (name, value) in itemLimits"></select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group ng-hide animated fadeIn" ng-show="showFilder">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body form-horizontal">
                            <div class="row form-group">
                                <label class="control-label col-md-3">Активность</label>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input value="" checked="checked" type="radio" name="active">Все</label>
                                    <label class="radio-inline"><input value="1" type="radio" name="active">Активные</label>
                                    <label class="radio-inline"><input value="0" type="radio" name="active">Неактивные</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Ключевые слова</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="query"/>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Блокировка</label>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input value="" checked="checked" type="radio" name="blocked">Все</label>
                                    <label class="radio-inline"><input value="1" type="radio" name="blocked">Блокированы</label>
                                    <label class="radio-inline"><input value="0" type="radio" name="blocked">Свободные</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Статус</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="status">
                                        <option value="" selected="selected">Любой</option>
                                        <option value="1">[1] Опубликован</option>
                                        <option value="3">[3] Готов к публикации</option>
                                        <option value="2">[2] Черновик</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата начала публикации</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_start_from" datepicker-popup="dd.MM.yyyy" ng-model="date_start_from" is-open="datepickers.date_start_from_opened" date-disabled="disabled(date, mode)" ng-click="open($event, 'date_start_from_opened')" show-button-bar="false" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_start_to" datepicker-popup="dd.MM.yyyy" ng-model="date_start_to" is-open="datepickers.date_start_to_opened" date-disabled="disabled(date, mode)" ng-click="open($event, 'date_start_to_opened')" show-button-bar="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата окончания публикации</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_finish_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_finish_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">ID</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="id_from"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="id_to"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата изменения</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_update_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_update_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата создания</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_create_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_create_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-8">
                                    <button class="btn btn-primary" ng-click="searchByFilter()">Искать</button>
                                    <button class="btn" ng-click="resetFilter()">Сбросить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="new()">Добавить</button>
                </div>
            </div>

            <div class="grid">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center sorting_asc">
                                <a ng-click="sort('id')">
                                    # <i ng-class="{'fa fa-angle-up' : isSortUp('id'), 'fa fa-angle-down' : isSortDown('id')}"></i>
                                </a>
                            </th>
                            <th class="text-left sorting_asc">Заголовок</th>
                            <th class="text-center sorting">
                                <a ng-click="sort('active')">
                                    Акт. <i ng-class="{'fa fa-angle-up' : isSortUp('active'), 'fa fa-angle-down' : isSortDown('active')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">
                                <a ng-click="sort('block')">
                                    Блок <i ng-class="{'fa fa-angle-up' : isSortUp('block'), 'fa fa-angle-down' : isSortDown('block')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">Кто заблокировал</th>
                            <th class="text-center sorting">Автор</th>

                            <th class="text-center sorting">Последний изменивший</th>
                            <th class="text-center sorting">
                                <a ng-click="sort('correction')">
                                    Корректура <i ng-class="{'fa fa-angle-up' : isSortUp('correction'), 'fa fa-angle-down' : isSortDown('correction')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">
                                <a ng-click="sort('status')">
                                    Статус <i ng-class="{'fa fa-angle-up' : isSortUp('status'), 'fa fa-angle-down' : isSortDown('status')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">
                                <a ng-click="sort('start')">
                                    Начало пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('start'), 'fa fa-angle-down' : isSortDown('start')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">
                                <a ng-click="sort('finish')">
                                    Конец пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('finish'), 'fa fa-angle-down' : isSortDown('finish')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting">
                                <a ng-click="sort('change')">
                                    Изменена <i ng-class="{'fa fa-angle-up' : isSortUp('change'), 'fa fa-angle-down' : isSortDown('change')}"></i>
                                </a>
                            </th>
                            <th class="text-center sorting"></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr ng-repeat="item in items | limitTo:limit | startsWithLetter:search | orderBy:sortField:reverse">
                            <td>{{item.id}}</td>
                            <td class="text-left">
                                <a ng-click="edit(item.$id())">{{item.title}}</a>
                            </td>
                            <td>
                                <a class="action" tooltip="{{!item.active ? 'Активировать' : 'Деактивировать'}}" ng-click="toggleActiv(item, $index, $event)">
                                    <i ng-class="item.active ? 'fa fa-check-circle-o text-success' : 'fa fa-times-circle text-danger'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="action" tooltip="{{!item.block ? 'Заблокировать' : 'Разблокировать'}}" ng-click="toggleBlock(item, $index, $event)">
                                    <i ng-class="!item.block ? 'fa fa-circle-o text-success' : 'fa fa-circle text-danger'"></i>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="action" tooltip="{{!item.correction ? 'Корректура не требуется' : 'Требуется корректура'}}" ng-click="toggleCorrection(item, $index, $event)">
                                    <i ng-class="!item.correction ? 'fa fa-circle-o text-success' : 'fa fa-circle text-danger'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="action" ng-click="changeStatus(item, $index, $event)">[1] Опубликован</a>
                            </td>
                            <td>{{item.date_start}}</td>
                            <td> </td>
                            <td>{{item.date_finish}}</td>
                            <td style="white-space: nowrap;">
                                <a class="btn btn-sm btn-info btn-transparent action" tooltip="Копировать" ng-click="copy(item, $index, $event)"><i class="fa fa-copy"></i></a>
                                <a class="btn btn-sm btn-info btn-transparent action" tooltip="Посмотреть историю" ng-click="history(item, $index, $event)"><i class="fa fa-stack-overflow"></i></a>
                                <a class="btn btn-sm btn-info btn-transparent action" tooltip="Удалить" ng-click="remove(item, $index, $event)"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-sm btn-info btn-transparent action" tooltip="admin_sendpr_button" ng-click="copy(item, $index, $event)"><i class="fa fa-bullhorn"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-6 text-left align-xs-center">
                        <div class="grid__info">Показаны 1-{{(news|filter:query).length}} из {{news.length}}</div>
                    </div>
                    <div class="col-lg-6  text-right align-xs-center ">
                        <ul class="pagination">
                            <li class="disabled"><a href="#"><span>«</span><span class="sr-only">Previous</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span>»</span><span class="sr-only">Next</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div id="page-footer"></div>

    <div class="page__flip"></div>

</section>