<section class="panel animated fadeInDown">

    <header id="page-header">
        <div class="panel-heading">
            <h2>Новости</h2>
            <!--<label class="color">{{{this.subtitle}}}</label>-->
        </div>
    </header>

    <div id="page-tools"></div>

    <div id="page-content" class="panel-body">

        <form role="form">

            <div class="row form-group">

                <div class="col-lg-6">
                    <div class="input-icon input-icon--inline">
                        <i class="ico fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Поиск..." name="title" ng-model="search.title">
                    </div>
                    <a class="btn btn-primary" ng-click="searchByFilter()">Искать</a>
                    <a class="btn btn-default" ng-click="toggleFilter()">Фильтр</a>
                </div>

                <div class="col-lg-6 text-right">
                    <div class="row text-right">
                        <div class="col-md-2 pull-right">
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <!--<select name="limit" class="form-control" ng-model="entryLimit" ng-options="name as value for (name, value) in itemLimits"></select>-->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group ng-hide animated fadeIn" ng-show="showFilter">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body form-horizontal">
                            <div class="row form-group">
                                <label class="control-label col-md-3">Активность</label>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input ng-value=""  type="radio" name="active" ng-model="search.active">Все</label>
                                    <label class="radio-inline"><input ng-value="1" type="radio" name="active" ng-model="search.active">Активные</label>
                                    <label class="radio-inline"><input ng-value="0" type="radio" name="active" ng-model="search.active">Неактивные</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Ключевые слова</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="title" ng-model="search.title" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Блокировка</label>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input ng-value=""  type="radio" name="block" ng-model="search.block">Все</label>
                                    <label class="radio-inline"><input ng-value="1" type="radio" name="block" ng-model="search.block">Блокированы</label>
                                    <label class="radio-inline"><input ng-value="0" type="radio" name="block" ng-model="search.block">Свободные</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Статус</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="status" ng-model="search.status">
                                        <option value="" selected="selected">Любой</option>
                                        <option value="1">[1] Опубликован</option>
                                        <option value="3">[3] Готов к публикации</option>
                                        <option value="2">[2] Черновик</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата начала публикации</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_start_from" datepicker-popup="dd.MM.yyyy" ng-model="search.date_start_from" is-open="datepickers.date_start_from_opened" date-disabled="disabled(date, mode)" ng-click="open($event, 'date_start_from_opened')" show-button-bar="false" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_start_to" datepicker-popup="dd.MM.yyyy" ng-model="search.date_start_to" is-open="datepickers.date_start_to_opened" date-disabled="disabled(date, mode)" ng-click="open($event, 'date_start_to_opened')" show-button-bar="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата окончания публикации</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_finish_from" ng-model="search.date_finish_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_finish_to" ng-model="search.date_finish_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">ID</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="id_from" ng-model="search.id_from" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="id_to" ng-model="search.id_to" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата изменения</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_update_from" ng-model="search.date_update_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_update_to" ng-model="search.date_update_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3">Дата создания</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_create_from" ng-model="search.date_create_from" data-toggle="datepicker"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" name="date_create_to" ng-model="search.date_create_to" data-toggle="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-8">
                                    <button class="btn btn-primary" ng-click="searchByFilter()">Искать</button>
                                    <button class="btn" ng-click="resetFilter()">Сбросить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group" ng-show="canCreateNew">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="new()">Добавить</button>
                </div>
            </div>

            <!--<div ng-include="'views/partials/news/list.tpl.html'"></div>-->

            <div class="grid">

                <div class="table-big">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center sorting_asc">
                                    <a ng-click="sort('id')">
                                        # <i ng-class="{'fa fa-angle-up' : isSortUp('id'), 'fa fa-angle-down' : isSortDown('id')}"></i>
                                    </a>
                                </th>
                                <th class="text-left sorting_asc">Заголовок</th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('active')">
                                        Акт. <i ng-class="{'fa fa-angle-up' : isSortUp('active'), 'fa fa-angle-down' : isSortDown('active')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('block')">
                                        Блок <i ng-class="{'fa fa-angle-up' : isSortUp('block'), 'fa fa-angle-down' : isSortDown('block')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">Кто заблокировал</th>
                                <th class="text-center sorting">Автор</th>

                                <th class="text-center sorting">Последний изменивший</th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('correction')">
                                        Корректура <i ng-class="{'fa fa-angle-up' : isSortUp('correction'), 'fa fa-angle-down' : isSortDown('correction')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('status')">
                                        Статус <i ng-class="{'fa fa-angle-up' : isSortUp('status'), 'fa fa-angle-down' : isSortDown('status')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('start')">
                                        Начало пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('start'), 'fa fa-angle-down' : isSortDown('start')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('finish')">
                                        Конец пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('finish'), 'fa fa-angle-down' : isSortDown('finish')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting">
                                    <a ng-click="sort('change')">
                                        Изменена <i ng-class="{'fa fa-angle-up' : isSortUp('change'), 'fa fa-angle-down' : isSortDown('change')}"></i>
                                    </a>
                                </th>
                                <th class="text-center sorting"></th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="item in filtered = (items | filter:search | orderBy:orderBy:reverse) | newsFilter:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>{{item.id}}</td>
                                <td class="text-left">
                                    <!--<a ng-click="edit(item.$id())" ng-show="canCreateNew">{{item.title}}</a>-->
                                    <a href="#/news/edit/{{item.$id()}}">{{item.title}}</a>
                                </td>
                                <td>
                                    <a class="action" tooltip="{{item.active == 1 ? 'Деактивировать' : 'Активировать'}}" ng-click="toggleActiv(item, $index, $event)">
                                        <i ng-class="item.active == 1 ? 'fa fa-check-circle-o text-success' : 'fa fa-times-circle text-danger'"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="action" tooltip="{{item.block == 1 ? 'Разблокировать' : 'Заблокировать'}}" ng-click="toggleBlock(item, $index, $event)">
                                        <i ng-class="item.block == 1 ? 'fa fa-circle text-danger' : 'fa fa-circle-o text-success'"></i>
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a class="action" tooltip="{{item.correction == 1 ? 'Требуется корректура' : 'Корректура не требуется'}}" ng-click="toggleCorrection(item, $index, $event)">
                                        <i ng-class="!item.correction == 1 ? 'fa fa-circle-o text-success' : 'fa fa-circle text-danger'"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="action" ng-click="changeStatus(item, $index, $event)" ng-switch="item.status">
                                        <span ng-switch-when="1">[1] Опубликован</span>
                                        <span ng-switch-when="2">[2] Черновик</span>
                                        <span ng-switch-when="3">[3] Готов к публикации</span>
                                    </a>
                                </td>
                                <td>02.10.2014 00:00</td>
                                <td> </td>
                                <td>02.10.2014 00:15</td>
                                <td style="white-space: nowrap;">
                                    <a class="btn btn-sm btn-info btn-transparent action" tooltip="Копировать" ng-click="copy(item, $index, $event)"><i class="fa fa-copy"></i></a>
                                    <a class="btn btn-sm btn-info btn-transparent action" tooltip="Посмотреть историю" ng-click="history(item, $index, $event)"><i class="fa fa-stack-overflow"></i></a>
                                    <a class="btn btn-sm btn-info btn-transparent action" tooltip="Удалить" ng-click="remove(item, $index, $event)"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-sm btn-info btn-transparent action" tooltip="admin_sendpr_button" ng-click="copy(item, $index, $event)"><i class="fa fa-bullhorn"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="col-lg-6 text-left align-xs-center">
                        <div class="grid__info">Показано: {{ filtered.length }} из {{ totalItems}}</div>
                    </div>
                    <div class="col-lg-6  text-right align-xs-center" ng-show="filteredItems > entryLimit">
                        <pagination direction-links="true" previous-text="«" next-text="»" ng-model="currentPage" ng-change="setPage()" total-items="filteredItems" items-per-page="entryLimit"></pagination>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div id="page-footer"></div>

    <div class="page__flip"></div>

</section>