<section id="sidebar" class="sidebar" ng-controller="SidebarCtrl">

    <nav role="navigation" id="navigation" class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/daytheme')}">
                <a class="navigation__link" role="nav-main" href="#/news/daytheme"><i class="navigation__link__icon fa fa-bomb"></i>Тема дня</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/lenta')}">
                <a class="navigation__link" role="nav-main" href="#/news/lenta"><i class="navigation__link__icon fa fa-list"></i>Лента новостей</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/bankpress')}">
                <a class="navigation__link" role="nav-main" href="#/news/bankpress"><i class="navigation__link__icon fa fa-bar-chart"></i>Мониторинг банковской прессы</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/interview')}">
                <a class="navigation__link" role="nav-main" href="#/news/interview"><i class="navigation__link__icon fa fa-microphone"></i>Интервью</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/author')}">
                <a class="navigation__link" role="nav-main" href="#/news/author"><i class="navigation__link__icon fa fa-user"></i>Авторы</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/columnist')}">
                <a class="navigation__link" role="nav-main" href="#/news/columnist"><i class="navigation__link__icon fa fa-list"></i>Колумнисты</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/video')}">
                <a class="navigation__link" role="nav-main" href="#/news/video"><i class="navigation__link__icon fa fa-video-camera"></i>Видеоматериалы</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/pressrelease')}">
                <a class="navigation__link" role="nav-main" href="#/news/pressrelease"><i class="navigation__link__icon fa fa-newspaper-o"></i>Пресс-релизы</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/proetcontra')}">
                <a class="navigation__link" role="nav-main" href="#/news/proetcontra"><i class="navigation__link__icon fa fa-question"></i>Спорный момент</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/stars')}">
                <a class="navigation__link" role="nav-main" href="#/news/stars"><i class="navigation__link__icon fa fa-star"></i>Звёзды в банке</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/bankingnews')}">
                <a class="navigation__link" role="nav-main" href="#/news/bankingnews"><i class="navigation__link__icon fa fa-list"></i>Banking news</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/research')}">
                <a class="navigation__link" role="nav-main" href="#/news/research"><i class="navigation__link__icon fa fa-line-chart"></i>Исследования</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/authorcompany')}">
                <a class="navigation__link" role="nav-main" href="#/news/authorcompany"><i class="navigation__link__icon fa fa-user"></i>Авторы исследований</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/sitenews')}">
                <a class="navigation__link" role="nav-main" href="#/news/sitenews"><i class="navigation__link__icon fa fa-align-right"></i>Новости проекта</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/advnews')}">
                <a class="navigation__link" role="nav-main" href="#/news/advnews"><i class="navigation__link__icon fa fa-gift"></i>Новости рекламы (спецпредложения)</a>
            </li>
            <li class="navigation__item" ng-class="{'navigation__item--active': isActive('/news/secularnews')}">
                <a class="navigation__link" role="nav-main" href="#/news/secularnews"><i class="navigation__link__icon fa fa-group"></i>Светские новости</a>
            </li>
        </ul>
    </nav>

</section>