<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Angular Admin panel</title>
    <link rel="shortcut icon" href="assets/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic|Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dashboard.css">
    <!--STYLES END-->
</head>

<body ng-controller="AppCtrl">

    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/vendor/vendor.js"></script>
    <script src="/js/templates/app.js"></script>
    <script src="/js/templates/common.js"></script>
    <script src="/js/dashboard.js"></script>
    <!--SCRIPTS END-->
</body>
</html>