<div class="grid">

    <div class="table-big">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center sorting_asc">
                        <a ng-click="$parent.sort('id')">
                            # <i ng-class="{'fa fa-angle-up' : isSortUp('id'), 'fa fa-angle-down' : isSortDown('id')}"></i>
                        </a>
                    </th>
                    <th class="text-left sorting_asc">Заголовок</th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('active')">
                            Акт. <i ng-class="{'fa fa-angle-up' : isSortUp('active'), 'fa fa-angle-down' : isSortDown('active')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('block')">
                            Блок <i ng-class="{'fa fa-angle-up' : isSortUp('block'), 'fa fa-angle-down' : isSortDown('block')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">Кто заблокировал</th>
                    <th class="text-center sorting">Автор</th>

                    <th class="text-center sorting">Последний изменивший</th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('correction')">
                            Корректура <i ng-class="{'fa fa-angle-up' : isSortUp('correction'), 'fa fa-angle-down' : isSortDown('correction')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('status')">
                            Статус <i ng-class="{'fa fa-angle-up' : isSortUp('status'), 'fa fa-angle-down' : isSortDown('status')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('start')">
                            Начало пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('start'), 'fa fa-angle-down' : isSortDown('start')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('finish')">
                            Конец пуб. <i ng-class="{'fa fa-angle-up' : isSortUp('finish'), 'fa fa-angle-down' : isSortDown('finish')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting">
                        <a ng-click="$parent.sort('change')">
                            Изменена <i ng-class="{'fa fa-angle-up' : isSortUp('change'), 'fa fa-angle-down' : isSortDown('change')}"></i>
                        </a>
                    </th>
                    <th class="text-center sorting"></th>
                </tr>
            </thead>
            <tbody align="center">
                <tr ng-repeat="item in $parent.filtered = ($parent.items | filter:$parent.search | dateStartRangeFilter:date.date_start:date.date_finish | idRangeFilter:ids.id_from:ids.id_to | orderBy:$parent.orderBy:$parent.reverse) | paginationFilter:($parent.currentPage-1)*$parent.entryLimit | limitTo:$parent.entryLimit">
                    <td>{{item.id}}</td>
                    <td class="text-left">
                        <a ng-click="edit(item.$id())">{{item.title}}</a>
                    </td>
                    <td>
                        <a class="action" tooltip="{{item.isActive() ? 'Деактивировать' : 'Активировать'}}" ng-click="$parent.toggleActiv(item, $index, $event)">
                            <i ng-class="item.isActive() ? 'fa fa-check-circle-o text-success' : 'fa fa-times-circle text-danger'"></i>
                        </a>
                    </td>
                    <td>
                        <a class="action" tooltip="{{item.isBlocked() ? 'Разблокировать' : 'Заблокировать'}}" ng-click="$parent.toggleBlock(item, $index, $event)">
                            <i ng-class="item.isBlocked() ? 'fa fa-circle text-danger' : 'fa fa-circle-o text-success'"></i>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="action" tooltip="{{item.isNeedCorrection() ? 'Требуется корректура' : 'Корректура не требуется'}}" ng-click="$parent.toggleCorrection(item, $index, $event)">
                            <i ng-class="item.isNeedCorrection() ? 'fa fa-circle text-danger' : 'fa fa-circle-o text-success'"></i>
                        </a>
                    </td>
                    <td>
                        <a class="action" ng-switch="item.status" ng-show="!item.showStatusChanger" ng-click="$parent.showStatusChanger(item, $index, $event)">
                            <span ng-switch-when="1">[1] Опубликован</span>
                            <span ng-switch-when="2">[2] Черновик</span>
                            <span ng-switch-when="3">[3] Готов к публикации</span>
                        </a>
                        <select class="form-control" name="status" ng-model="item.status" ng-show="item.showStatusChanger" ng-change="$parent.changeStatus(item, $index, $event)">
                            <option value="">Любой</option>
                            <option value="1">[1] Опубликован</option>
                            <option value="3">[3] Готов к публикации</option>
                            <option value="2">[2] Черновик</option>
                        </select>
                    </td>
                    <td>{{item.date_start | date : format : timezone}}</td>
                    <td>{{item.date_finish | date : format : timezone}}</td>
                    <td>{{item.date_update | date : format : timezone}}</td>
                    <td style="white-space: nowrap;">
                        <a class="btn btn-sm btn-info btn-transparent action" tooltip="Копировать" ng-click="$parent.copy(item, $index, $event)"><i class="fa fa-copy"></i></a>
                        <a class="btn btn-sm btn-info btn-transparent action" tooltip="Посмотреть историю" ng-click="$parent.history(item, $index, $event)"><i class="fa fa-stack-overflow"></i></a>
                        <a class="btn btn-sm btn-info btn-transparent action" tooltip="Удалить" ng-click="$parent.remove(item, $index, $event)"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-sm btn-info btn-transparent action" tooltip="admin_sendpr_button" ng-click="$parent.history(item, $index, $event)"><i class="fa fa-bullhorn"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="row">
        <div class="col-lg-6 text-left align-xs-center">
            <div class="grid__info">
                Показаны
                {{ $parent.currentPage === 1 ? 1 : (($parent.currentPage - 1) * $parent.entryLimit) + 1 }}
                -
                {{ $parent.filtered.length < $parent.entryLimit ? $parent.filtered.length : ($parent.currentPage * $parent.entryLimit) < $parent.filtered.length ? ($parent.currentPage * $parent.entryLimit) : $parent.filtered.length }} из {{ $parent.items.length }}
            </div>
        </div>
        <div class="col-lg-6  text-right align-xs-center" ng-show="$parent.filtered.length > $parent.entryLimit">
            <pagination direction-links="true" previous-text="«" next-text="»" ng-model="$parent.currentPage" ng-change="$parent.setPage()" total-items="$parent.filtered.length" items-per-page="$parent.entryLimit"></pagination>
        </div>
    </div>

</div>